ol.message-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.message-list li {
    font: 12px/24px Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 1px;
}

ol.message-list li span {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    font-weight: 700;
    border-right: 1px solid #cfcfcf;
    background: #efefef;
    padding: 0 7px 0 0;
    margin: 0 7px 0 0;
}

li.message-server {
    background: rgb(237, 243, 254);
    padding: 0 0 0 114px;
}

li.message-you {
    background: rgb(255,255,204);
}